.icon {
  background-color: #333;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  i {
    font-size: 25px;
    color: #fff;
  }
}
.theme-options {
  width: 200px;
  border-radius: 5px;
  background-color: #333;
  p {
    font-size: 20px;
    color: #fff;
  }
  hr {
    color: rgb(104, 103, 103);
  }
  .colorbox {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin: 2px 3px;
    cursor: pointer;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  #theme-bule {
    background-color: #007bff;
  }
  #theme-orange {
    background-color: #fd7e14;
  }
  #theme-red {
    background-color: #dc3545;
  }
  #theme-purple {
    background-color: purple;
  }
  #theme-green {
    background-color: #28a745;
  }
}
